<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Customer,</p>
<p>Your product application with ID <b>{{unique_application_id}}</b> has been submitted successfully.</p>
<p>Please wait for the further updates.</p>
<p>Warm regards,<br>
The Made in India Team</p>
<p style="color:#808080">Disclaimer: This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed.</p>
</body>
</html>