<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Supervisor,</p>
<p>An application with ID <b>{{unique_application_id}}</b> has been assigned to you to review.</p>
<p>Please check and review an application on the Made in India Portal. Please log in to the portal at https://madeinindia.qcin.org.</p>
<p>Warm regards,<br>
The Made in India Team</p>
<p style="color:#808080">Disclaimer: This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed.</p>
</body>
</html>