<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Customer,</p>
<p>Welcome to the Made in India Label platform! We're excited to have you on board.</p>
<p>As part of our verification process, we're sending you a one-time password (OTP) for your account. This OTP is valid for 24 hours and is necessary for you to access your account.</p>
<p>Here's your OTP: <b>{{code}}</b></p>
<p>Please enter this code into the provided field on our website to complete the verification process.</p>
<p>Warm regards,<br>
The Made in India Team</p>
<p style="color:#808080">Disclaimer: This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed.</p>
</body>
</html>