<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Admin,</p>
<p>We got an inquiry request. Below are the details.</p>
<p>Name: {{name}}<br>
Company Name: {{company_name}}<br>
Company Email: {{company_email}}<br>
Message: {{message}}<br>
Country: {{country}}</p>
<p>Warm regards,<br>
The Made in India Team</p>
<p style="color:#808080">Disclaimer: This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed.</p>
</body>
</html>